## Android Studio
*.iml
.gradle
/PiLightControl_App/local.properties
/PiLightControl_App/.idea/workspace.xml
/PiLightControl_App/.idea/libraries
.DS_Store
/PiLightControl_App/build
/PiLightControl_App/captures

## Python
*.pyc
